* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(nature.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.container {
    display: block;
    background-color: rgba(201, 196, 211, 0.342);
    background-size: 250px;
    backdrop-filter: blur(3px);
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(213, 200, 200, 0.201);
    padding: 20px;
    width: 300px;
    height: 380px;
    border: 2px solid white;


}

.form {
    display: flex;
    justify-content: center;
}

h2 {
    width: 100px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: rgb(218, 225, 231);
    padding-bottom: 5px;

}

.user input {
    padding-left: 10px;
    width: 250px;
    height: 41px;
    position: relative;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgba(52, 55, 55, 0.151);
    backdrop-filter: blur(3px);
    border: none;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.249);


}

.user label {
    color: rgba(18, 23, 28, 0.667);
    position: absolute;
    left: 13%;
    top: 23%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-top: 0;
    transition: all 0.3s ease;
}

.user input:focus+label,
.user input:not(:placeholder-shown)+label {
    transform: translateY(-40px);
    color: white;
    background-color: rgba(169, 174, 180, 0.159);
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 14px;
    background-color: black;
    border: 2px solid white;

}

.password input {
    padding-left: 10px;
    width: 250px;
    height: 41px;
    position: relative;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgba(52, 55, 55, 0.151);
    margin-top: 29px;
    backdrop-filter: blur(3px);
    border: none;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.249);



}

.password label {
    position: absolute;
    color: rgba(18, 23, 28, 0.667);
    left: 13%;
    top: 41%;
    transform: translateY(-50%);
    transition: all 0.3s ease;

}

.password input:focus+label,
.password input:not(:placeholder-shown)+label {
    transform: translateY(-37px);
    color: white;
    background-color: rgba(169, 174, 180, 0.159);
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 14px;
    background-color: black;
    border: 2px solid white;
}

.user .email {
    position: absolute;
    top: 23%;
    left: 230px;
    transform: translateY(-50%);
    color: rgba(18, 23, 28, 0.667);
    pointer-events: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

.user input:focus~.email,
.user input:not(:placeholder-shown)~.email {
    opacity: 0;
    transition: all 0.5s ease;
}

.password .lock {
    position: absolute;
    left: 232px;
    top: 38%;
}

.password input:focus~.lock,
.password input:not(:placeholder-shown)~.lock {
    opacity: 0;
    transition: all 0.5s ease;
}

.verify label {
    position: absolute;
    margin-top: 15px;
    font-size: 10px;
    left: px;
}

.forgot a {
    position: absolute;
    text-decoration: none;
    top: 50.6%;
    font-size: 10px;
    right: 10%;


}

footer button {
    position: relative;
    width: 90%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    bottom: -40px;
    margin-top: 9px;
    font-size: 25px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(15, 17, 16, 0.062);
    box-shadow: 0px 1px 15px rgba(39, 35, 35, 0.621);
    border: none;

}

footer button:active {
    box-shadow: none;
    color: rgb(255, 255, 255);
    text-shadow: -2px 4px 3px rgb(0, 0, 0);
}

.noacc {
    margin-top: 20px;
}

.noacc h4 {
    position: relative;
    bottom: -40px;
    font-size: 13px;
}

.forgot a:hover {
    color: red;
}

h4 a {
    text-decoration: none;
}

h4 a:hover {
    color: red;
}

.verify label input[type="checkbox"] {
    position: relative;
    width: 10px;
    height: 10px;
    left: -100px;
}

.check {
    display: flex;
    position: absolute;
    left: -880%;
    top: -122%;
    width: 100px;
}